p{
  font-family: Impact,Charcoal,sans-serif;
}
h2{
  /* font-style:italics;
  font-weight:bold;
  font-variant: small-caps; */
  font-size:1em;
  font-family: "Sofia";
}
a{
  display:inline-block;
  background-color: #f44336;
  padding:14px 25px;
  color:white;
  text-decoration: none;
}
a:hover, a:active{
  background-color:blueviolet;
}
ul{
  list-style-image:url("C:\Users\Admin\AppData\Roaming\Iconset\Iconset Library\sets\QI1xh_3Z12S2\arrow-right.svg");
  border:2px solid blue;
  list-style-position:outside;
}
li{
  border:2px solid blue;
  padding:2px;
}
ol{
   border:2px solid blue;
   list-style-type:lower-roman;
}
